@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}

:root {
	--bg-nav-home: #00cf00;
	--bg-home: #efffef;
	--text-home: #004000;
	--bg-nav-photography: #000000;
	--bg-photography: #ffffff;
	--text-photography: #000000;
	--bg-nav-projects: #0000ff;
	--bg-projects: #ccccff;
	--text-projects: #2020ff;
	--bg-nav-contact: #ff0000;
	--bg-contact: #ffcccc;
	--text-contact: #ff0000;
	--bg-nav-blog: #ffff00;
	--bg-blog: #ffffee;
	--text-blog: #4e2e00;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-nav-home: #00cf00;
		--bg-home: #001000;
		--text-home: #afffaf;
		--bg-nav-photography: #ffffff;
		--bg-photography: #000000;
		--text-photography: #ffffff;
		--bg-nav-projects: #0000ff;
		--bg-projects: #000010;
		--text-projects: #afafff;
		--bg-nav-contact: #ff0000;
		--bg-contact: #100000;
		--text-contact: #ffafaf;
		--bg-nav-blog: #ffff00;
		--bg-blog: #150e00;
		--text-blog: #ffedd5;
	}
}

.lazyload,
.lazyloading {
	filter: blur(5px);
	transition: filter 0.5s;
}
.lazyloaded {
	filter: blur(0);
}

@font-face {
	font-family: 'Iosevka Sans';
	src: url('/fonts/iosevka-web-sans.woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Iosevka Serif';
	src: url('/fonts/iosevka-web-serif.woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Heming';
	src: url('/fonts/Heming Variable.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
