@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}

:root {
	--bg-home: #ffffff;
	--text-home: #000000;
	--bg-photography: #000000;
	--text-photography: #ffffff;
	--bg-projects: #0000ff;
	--text-projects: #ffffff;
	--bg-games: #ff0000;
	--text-games: #ffffff;
	--bg-blog: #ffff00;
	--text-blog: #000000;
}

.lazyload,
.lazyloading {
	filter: blur(5px);
	transition: filter 0.5s;
}
.lazyloaded {
	filter: blur(0);
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('/fonts/HelveticaNeue-Regular.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Instrument Serif';
	src: url('/fonts/InstrumentSerif-Regular.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Heming';
	src: url('/fonts/Heming Variable.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Humane';
	src: url('/fonts/Humane.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
